<% if @fail %>
  <p style="color:red;">*<%= @fail %></p>
<% elsif @success %>
  <p style="color:red;">*<%= @success %></p>
<% end %>

<section>
  <span>Edit Movements for <%= @movement.name %></span><br>

  <br></br>

  <form action="/movements/<%= @movement.slug_movement %>/<%= @exercise.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">

    <label>Title</label>
    <input type="text" name="title" placeholder="<%= @exercise.title %>">

    <br></br>

    <input type="submit" value="Update">
  </form>

  <a href="/movements/<%= @movement.slug_movement %>/<%= @exercise.id %>">Back</a>
</section>
