<section id="movement">
  <h1>Find Your Movement</h1>
  <h3>By body part:</h3>

  <table>
    <tr>
      <th>Head</th>
    <% Movement.all.each do |move| %>
      <% if move.section == "Head" %>
      <td><a href="/movements/<%= move.name %>"><%= move.name %></a></td>
      <% end %>
    <% end %>
    </tr>

    <tr>
      <th>Upper Body</th>
      <% Movement.all.each do |move| %>
        <% if move.section == "Upper_Body" %>
        <td><a href="/movements/<%= move.name %>"><%= move.name %></a></td>
        <% end %>
      <% end %>
    </tr>
    <tr>
      <th>Core</th>
      <% Movement.all.each do |move| %>
        <% if move.section == "Core" %>
        <td><a href="/movements/<%= move.name %>"><%= move.name %></a></td>
        <% end %>
      <% end %>
    </tr>
    <tr>
      <th>Lower Body</th>
      <% Movement.all.each do |move| %>
        <% if move.section == "Lower_Body" %>
        <td><a href="/movements/<%= move.name %>"><%= move.name %></a></td>
        <% end %>
      <% end %>
    </tr>
  </table>

  <h3>or, by style of movement:</h3>
  <ul>
    <% Movement.all.each do |move| %>
      <% if move.section == "Movement" %>
      <li><a href="/movements/<%= move.name %>"><%= move.name %></a></li>
      <% end %>
    <% end %>
  </ul>
</section>
