<section class="movements">
  <h1><%= @movement.name %></h1>

<% if @success %>
  <p style="color:red;">*<%= @success %></p>
<% elsif @delete %>
  <p style="color:red;">*<%= @delete %></p>
<% end %>

  <ul>
  <% @movement.exercises.each do |exercise| %>
    <li><a href="/movements/<%= @movement.slug_movement %>/<%= exercise.id %>"><%= exercise.desc %></li>
  <% end %>
  </ul>

  <br></br>

  <a href="/movements/<%= @movement.slug_movement %>/new">Add</a><br>
  <a href="/movements">Back</a>
</section>
