<h1><%= @movement.name %></h1>

<% if @success %>
  <p style="color:red;">*<%= @success %></p>
<% elsif @delete %>
  <p style="color:red;">*<%= @delete %></p>
<% end %>

<section class="movement-show">
  <ul>
  <% @movement.exercises.each do |exercise| %>
    <li><%= exercise.desc %></li>
  <% end %>
  </ul>

  <br></br>

  <a href="/movements/<%= @movement.slug_movement %>/new">Add</a><br>
  <a href="/movements/<%= @movement.slug_movement %>/edit">Edit</a><br>
  <a href="/movements">Back</a>
</section>
