<section class="movements">
  <h1><%= @movement.name %></h1>

  <ul>
  <% @exercise_list.each do |exercise| %>
    <li><a href="/users/<%= @user.slug %>/<%= @movement.slug_movement %>/<%= exercise.id %>"><%= exercise.desc %></li>
  <% end %>
  </ul>

  <a href="/users/<%= @user.slug %>">Back</a>
</section>
