<% if @success %>
    <p style="color:red;">*<%= @success %></p>
<% end %>

<h1><%= @user.username %></h1>

<section class="about-user">
  <ul>
    <% if Helpers.current_user(session).id == @user.id %>
    <li>Email: <%= @user.email %></li>
    <% end %>
    <li>Residence: <%= @user.residence %></li>
    <li>Fitness Level: <%= @user.fitness_level %></li>
    <li>Fitness Professional:
    <% if @user.professional %>
      Yes</li>
    <% else %>
      No</li>
    <% end %>
    <li>Fitness Specialties: </li>
    <ul>
    <% @user.fitness_modalities.each do |modality| %>
      <li><%= modality.name %></li>
    <% end %>
    </ul>
  </ul>
</section>

<% if Helpers.current_user(session).id == @user.id %>
  <a href="/users/<%= Helpers.current_user(session).slug %>/edit">Edit Account</a>

  <br></br>
<% else %>
  <form>
    <input type="submit" value="Contact">
  </form>

  <br></br>
<% end %>

<section class="moves">
  <h3>Your Movements</h3>
  <ul>
  <% @user.exercises.each do |exercise| %>
    <% movement = Movement.find_by_id(exercise.movement_id) %>
    <li><a href="/movements/<%= movement.name %>"><%= exercise.desc %></a></li>
  <% end %>
  </ul>
</section>

<h3>Your Posts</h3>

<section class="user-posts">
  <% @user.posts.each do |post| %>
    <label><a href="/posts/<%= post.id %>">Post <%= post.id %></a></label>
    <ul>
      <li><%= post.content %></li>
    </ul>
  <% end %>
</section>

<% if Helpers.current_user(session).id == @user.id %>
  <a href="/posts/new">Create New Post</a>
<% end %>
