<h1><%= @user.username %></h1>

<ul>
  <% if Helpers.current_user(session).id == @user.id %>
    <li>Email: <%= @user.email %></li>

    <br></br>
  <% end %>

  <li>Residence: <%= @user.residence %></li>

  <br></br>

  <li>Fitness Level: <%= @user.fitness_level %></li>

  <br></br>

  <li>Fitness Professional:
    <% if @user.professional %>
      Yes</li>
    <% else %>
      No</li>
    <% end %>

  <br></br>

  <li>Fitness Specialties: </li>
  <ul>
    <% @user.fitness_modalities.each do |modality| %>
      <li><%= modality.name %></li>
    <% end %>
  </ul>
</ul>

<br></br>

<% if Helpers.current_user(session).id == @user.id %>
  <a href="/users/<%= Helpers.current_user(session).slug %>/edit">Edit Account</a>

  <br></br>
<% else %>
  <form>
    <input type="submit" value="Contact">
  </form>

  <br></br>
<% end %>

<h3>Your Posts</h3>

<% @user.posts.each do |post| %>
  <label><a href="/posts/<%= post.id %>">Post <%= post.id %></a></label>
  <ul>
    <li><%= post.content %></li>
  </ul>
<% end %>

<br></br>

<% if Helpers.current_user(session).id == @user.id %>
  <a href="/posts/new">Create New Post</a>
<% end %>
