<% if @success %>
    <p style="color:red;">*<%= @success %></p>
<% end %>

<h1><%= @user.username %></h1>

<section class="about-user">
  <ul>
  <% if Helpers.current_user(session).id == @user.id %>
    <li>Email: <%= @user.email %></li>
  <% end %>
    <li>Residence: <%= @user.residence %></li>
    <li>Fitness Level: <%= @user.fitness_level %></li>
    <li>Fitness Professional:
  <% if @user.professional %>
      Yes</li>
  <% else %>
      No</li>
  <% end %>
    <li>Fitness Specialties: </li>
    <ul>
    <% @user.fitness_modalities.each do |modality| %>
      <li><%= modality.name %></li>
    <% end %>
    </ul>
  </ul>
</section>

<% if Helpers.current_user(session).id == @user.id %>
  <a href="/users/<%= Helpers.current_user(session).slug %>/edit">Edit Account</a>

  <br></br>
<% else %>
  <form>
    <input type="submit" value="Contact">
  </form>

  <br></br>
<% end %>

<h3>Posts</h3>

<section class="user-posts">
  <% @user.posts.each do |post| %>
    <label><a href="/posts/<%= post.id %>">Post <%= post.id %></a></label>
    <ul>
      <li><%= post.content %></li>
    </ul>
  <% end %>
</section><br>

<% if Helpers.current_user(session).id == @user.id %>
  <a href="/posts/new">Create New Post</a>
<% end %>

<% if Helpers.current_user(session).id != @user.id %>
  <section>
    <h3>Movements by muscle group</h3>

    <table>
      <tr>
        <th>Head</th>
      <% Movement.all.each do |move| %>
        <% if move.section == "Head" %>
          <% count = @user.exercises.find_all {|x| x.movement_id == move.id }.count %>
          <td><a href="/users/<%= @user.slug %>/<%= move.slug_movement %>"><%= move.name %><br><%= "(#{count})" if count > 0 %></a></td>
        <% end %>
      <% end %>
      </tr>

      <tr>
        <th>Upper Body</th>
        <% Movement.all.each do |move| %>
          <% if move.section == "Upper_Body" %>
            <% count = @user.exercises.find_all {|x| x.movement_id == move.id }.count %>
            <td><a href="/users/<%= @user.slug %>/<%= move.slug_movement %>"><%= move.name %><br><%= "(#{count})" if count > 0 %></a></td>
          <% end %>
        <% end %>
      </tr>

      <tr>
        <th>Core</th>
        <% Movement.all.each do |move| %>
          <% if move.section == "Core" %>
            <% count = @user.exercises.find_all {|x| x.movement_id == move.id }.count %>
            <td><a href="/users/<%= @user.slug %>/<%= move.slug_movement %>"><%= move.name %><br><%= "(#{count})" if count > 0 %></a></td>
          <% end %>
        <% end %>
      </tr>

      <tr>
        <th>Lower Body</th>
        <% Movement.all.each do |move| %>
          <% if move.section == "Lower_Body" %>
            <% count = @user.exercises.find_all {|x| x.movement_id == move.id }.count %>
            <td><a href="/users/<%= @user.slug %>/<%= move.slug_movement %>"><%= move.name %><br><%= "(#{count})" if count > 0 %></a></td>
          <% end %>
        <% end %>
      </tr>
    </table>

    <h3>or, by style of movement:</h3>
    <ul>
      <% Movement.all.each do |move| %>
        <% if move.section == "Movement" %>
          <% count = @user.exercises.find_all {|x| x.movement_id == move.id }.count %>
          <li><a href="/users/<%= @user.slug %>/<%= move.slug_movement %>"><%= move.name %> <%= "(#{count})" if count > 0 %></a></li>
        <% end %>
      <% end %>
    </ul>
    </section>
<% end %>
