<h1><%= @user.username %></h1>

<ul>
  <% if Helpers.current_user(session).id == @user.id %>
    <li>Email: <%= @user.email %></li>

    <br></br>
  <% end %>

  <li>Residence: <%= @user.residence %></li>

  <br></br>

  <li>Fitness Level: <%= @user.fitness_level %></li>

  <br></br>

  <li>Fitness Professional:
    <% if @user.professional %>
      Yes</li>
    <% else %>
      No</li>
    <% end %>

  <br></br>

  <li>Fitness Specialties: </li>
  <ul>
    <% @user.fitness_modalities.each do |modality| %>
      <li><%= modality.name %></li>
    <% end %>
  </ul>

  <br></br>

  <li>Posts</li>
</ul>

<br></br>

<% if Helpers.current_user(session).id == @user.id %>
  <a href="/users/<%= Helpers.current_user(session).slug %>/edit">Edit Account</a>

<% else %>
  <form>
    <input type="submit" value="Contact">
  </form>

<% end %>
