<h1>Post <%= @post.id %></h1>

<% if @fail %>
  <p style="color:red;">*<%= @fail %></p>
<% elsif @success %>
    <p style="color:red;">*<%= @success %></p>
<% end %>

<h2>posted by: <a href="/users/<%= User.find_by_id(@post.user_id).slug %>"><%= User.find_by_id(@post.user_id).username %></a></h2>

<form action="/posts/<%= @post.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label>Content</label>
  <input type="text" name="content" placeholder="<%= @post.content %>">

  <br></br>

  <input type="submit" value="Update">
</form>
