<% if @success %>
  <p style="color:red;">*<%= @success %></p>
<% elsif @delete %>
  <p style="color:red;">*<%= @delete %></p>
<% end %>

<section>
  <h1>Fitness News</h1>
  <ul>
    <% News.all.each do |news| %>
      <label><%= news.title %></label>
      <ul>
        <li><%= news.content %><a href="I lead nowhere"> Read more</a></li>
      </ul>
      <br></br>
    <% end %>
  </ul>
</section>

<section>
  <h1>Posts from members</h1>
  <ul>
    <% Post.all.each do |post| %>
      <label><a href="/users/<%= User.find_by_id(post.user_id).slug %>"><%= User.find_by_id(post.user_id).username %></a></label>
      <ul>
        <li><%= post.content %><a href="/posts/<%= post.id %>"> ~></a></li>
      </ul>
      <br></br>
    <% end %>
  </ul>
</section>

<section>
  <h1>Connect</h1>
  <ul>
    <% User.all.each do |user| %>
      <% if user.fitness_modalities.size != 0 %>
      <!-- does not display users with unfinished registrations -->
        <li><a href="/users/<%= user.slug %>"><%= user.username %></a></li>
        <ul>
          <% user.fitness_modalities.each do |modality| %>
            <li><%= modality.name %></li>
          <% end %><br>
        </ul>
      <% end %>
    <% end %>
  </ul>
</section>
