<% if @success %>
  <p style="color:red;">*<%= @success %></p>
<% end %>

<section class="posts">
  <span>post <%= @post.id %></span><br>
  <h3>posted by: <a href="/users/<%= User.find_by_id(@post.user_id).slug %>"><%= User.find_by_id(@post.user_id).username %></a></h3>

  <br></br>

  <p><%= @post.content %></p>
</section>


<% if Helpers.current_user(session).id == @post.user_id %>
  <a href="/posts/<%= @post.id %>/edit">Edit Post</a>

  <form action="/posts/<%= @post.id %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
  </form>
  <a href="/users/<%= Helpers.current_user(session).slug %>">Back</a>
<% end %>
