<h1>Post <%= @post.id %></h1>

<% if @success %>
  <p style="color:red;">*<%= @success %></p>
<% end %>

<h2>posted by: <a href="/users/<%= User.find_by_id(@post.user_id).slug %>"><%= User.find_by_id(@post.user_id).username %></a></h2>

<p><%= @post.content %></p>

<% if Helpers.current_user(session).id == @post.user_id %>
  <a href="/posts/<%= @post.id %>/edit">Edit Post</a>
  <form action="/posts/<%= @post.id %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
  </form>
<% end %>
