<h1>Fitness News</h1>

<ul>
  <% News.all.each do |news| %>
    <label><%= news.title %></label>
    <ul>
      <li><%= news.content %><a href="I lead nowhere">Read more</a></li>
    </ul>

    <br></br>
  <% end %>
</ul>

<h1>Posts from other members</h1>

<ul>
  <% Post.all.each do |post| %>
    <li><%= post.content %></li>
  <% end %>
</ul>

<h1>Connect</h1>

<ul>
  <% User.all.each do |user| %>
    <li><a href="/users/<%= user.slug %>"><%= user.username %></a></li>
    <ul>
      <% user.fitness_modalities.each do |modality| %>
        <li><%= modality.name %></li>
      <% end %><br>
    </ul>
  <% end %>
</ul>
